[ng-controller="RootLoginController"] {

    /* style your controller here */
    height:100%;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    background: linear-gradient(to bottom right, #0bbadf , #3bc252 );
    justify-content: center;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;

	.logo{
	  display:block;
	  width:auto;
	  height:auto;
	  max-width:25%;
	  max-height:25%;
	}

	#fbPhoto {
	   border-radius: 50%;
	}

	.login {
	  margin-top: 10px;
	  text-color: #AB70C9;
	  font-family: proxima-nova, sans-serif;;
	  color: #ffffff;
	  font-size: 12px;
	}

	#status {
	  margin-top: 10px;
	  text-color: #AB70C9;
	  font-family: proxima-nova, sans-serif;;
	  color: #ffffff;
	  font-size: 12px;
	}

}
