<md-content>
  <div style="width: 100%;">
    <div style="float: left; width: 30%; padding: 20px;">
      <div class="facelist-title md-title">
        Collaborators
      </div>
      <div class="facelist-container">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
      </div>
    </div>
    <div style="border-left: 1px solid #f4f4f4; border-top: 1px solid #f4f4f4; float: left; width: 70%; margin: 0 auto; position: relative; padding: 20px;">
      <div layout="row" flex>
        <div
          style="z-index: 1; display: inline-block; height: 64px; width: 64px;"
          ng-click="playPreview()">
          <img src="/static/images/icons/play.png" style="width: 100%; height: 100%;">
        </div>
        <div flex style="padding-left: 20px;" layout="row">
          <md-input-container flex>
            <label>Title</label>
            <input type="text" ng-model="preview.title">
          </md-input-container>
        </div>
        <div flex="20" style="text-align: center;">
          <md-button class="btn-primary">Echo Track</md-button>
        </div>
      </div>
      <div ng-show="preview" style="position: relative; width: 100%; height: 80px;">
        <div class="preview"></div>
      </div>
    </div>
  </div>
  <div style="width: 100%; border-top: 1px solid #f4f4f4;">
    <div style="float: left; width: 30%; padding: 20px;">
      <div class="facelist-title md-title">
        Collaborators
      </div>
      <div class="facelist-container">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
        <img src="/static/images/icons/PlaceHolderCollaboratorIcon.png" class="face">
      </div>
    </div>
    <div style="border-left: 1px solid #f4f4f4; border-top: 1px solid #f4f4f4; float: left; width: 70%; margin: 0 auto; position: relative;">
      <div ng-repeat="sample in samples track by $index" style="position: relative; width: 100%; height: 80px;">
        <div ng-show="sample">
          <div
            style="z-index: 1; position: absolute; height: 100%; width: 80px; left: 0px; background-color: rgba(32, 32, 32, 0.5);"
            ng-click="play(sample)">
            <img src="/static/images/icons/play.png" style="width: 100%; height: 100%;">
          </div>
        </div>
        <div ng-show="sample" style="z-index: 0; position: absolute; height: 100%; width: {{ calculatePct(sample, samples) }}%; background-color: {{ calculateColor($index); }}"></div>
        <div ng-show="!sample">
          <md-button flex="20" class="md-primary" ng-click="startRecording($index)" ng-show="!openStream[$index]">Record</md-button>
          <md-button flex="20" class="md-primary" ng-click="stopRecording($index)" ng-show="!!openStream[$index]">Stop</md-button>
          <md-button
            flex="20"
            ngf-select="upload($file, $index)"
            ngf-pattern="'audio/wav'"
            class="md-primary">
            Upload
          </md-button>
        </div>
      </div>
    </div>
    <div style="clear: both;">
  </div>

  <!-- div layout="row">
    <div flex="10">Use</div>
    <div flex="10">Loop</div>
    <div flex="10">Length</div>
    <div flex="20">Name</div>
    <div flex="20">Audio</div>
    <div flex="30"></div>
  </div>

  <div ng-repeat="sample in samples" layout="row">
    <div flex="10">
      <md-checkbox ng-model="sample.selected"></md-checkbox>
    </div>
    <div flex="10">
      <md-checkbox ng-model="sample.loop"></md-checkbox>
    </div>
    <div flex="10">
      {{ getSampleLength(sample) }} s
    </div>
    <md-input-container flex="20">
      <input type="text" ng-model="sample.name" placeholder="Name">
    </md-input-container>
    <div flex="20" style="position: relative;">
      <audio style="max-width: 100%;" src="{{ sample.uri }}" controls="true"></audio>
    </div>
    <div flex="30">
      <md-button class="md-primary" ng-click="publish(sample)">Publish This</md-button>
    </div>
  </div>

  <md-button ng-click="combine()" ng-show="samples.length">Mix Selected</md-button -->

</md-content>
