song {

  /* style your components here */
  .song-container {
    display: flex;
    margin: 20px;
    margin-bottom: 50px;
  }

  .play-button {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .title-row {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
    justify-content: space-between;
  }

  .soundwave {
    height: 130px;
  }

  .show-tracks-button {
    transition: all linear 0.5s;
    height: 50px;
    align-self: center;
    opacity: 1;
  }

  .hide-tracks-button {
    margin-top: 15px;
    align-self: center;
    transition: all linear 0.5s;
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
  }

  .isHidden {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
  }

  .collaborator-column {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .facelist-container {
    margin-bottom: 25px;
  }

  .song-column {
    display: flex;
    flex-direction: column;
    width: 100%
  }

  .facelist-title {
    margin-bottom: 10px;
  }

  .face {
    margin-right: 5px;
    width: 50px;
    height: 50px;
  }

  .song-title {
    margin-top: 5px;
  }

  .play-button-and-title {
    display: flex;
  }
}
