<div class="songContainer">
  <div class="titleRow">
    <img src="https://www.wpclipart.com/signs_symbol/arrows/button_arrows/play_buttons/play_button.svg" class="playButton">
    <div class="titleAndFacelistContainer">
      <div class="title">
        {{ item.title }}
      </div>
      <div class="faceList">
        SAMPLE FACES GO HERE
      </div>
    </div>
  </div>
  <img src="http://rack.1.mshcdn.com/media/ZgkyMDEyLzEyLzA0LzM0L2FyZXNvdW5kd2F2LjV1aC5qcGcKcAl0aHVtYgk5NTB4NTM0IwplCWpwZw/0476e2e1/0c5/are-sound-waves-the-future-of-mobile-marketing--68005190f2.jpg" class="soundwave">
</div>
