soundbite {

  box-sizing: border-box;
  margin: 10px;

  .left {

    float: left;
    width: 20%;

  }

  .right {

    float: left;
    width: 80%;
    display: block;
    border: 1px solid #000000;
    padding: 10px;

  }

  &:after {
    clear: both;
  }

}
